---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import photo from '/public/images/photo.jpg';
import star from '/public/icons/star.svg';

const title = "My website";
const name = "Nikita Osipov";
const description = "frontend developer";
const text = 'Hey there! I\'m Nikita, a frontend developer based in Tbilisi, Georgia. I\'m passionate about crafting seamless UIs and solving problems in JavaScript and Typescript. Have some knowledge of NodeJS frameworks and Docker. Now on the lookout for exciting new challenges!'
const technologies = [
{
    name: 'NextJS',
    primary: true
},
{
    name: 'Astro',
    primary: false
},
{
    name: 'Typescript',
    primary: true
},
{
    name: 'React',
    primary: true
},
{
    name: 'SCSS',
    primary: true
},
{
    name: 'Tailwind CSS',
    primary: true
},
{
    name: 'NestJS',
    primary: false
},
{
    name: 'Strapi',
    primary: false
},
{
    name: 'NodeJS',
    primary: false
},
{
    name: 'ExpressJS',
    primary: false
},
{
    name: 'Docker',
    primary: false
},
{
    name: 'Gitlab CI',
    primary: false
},
{
    name: 'Python',
    primary: false
},
{
    name:'C#',
    primary: false
}
]
---

<BaseLayout title={title}>
    <section class="flex flex-col items-center justify-center py-8 text-left">
        <div class="my-8 flex flex-row items-center self-start">
            <Image src={photo} alt="that's me" class="rounded-full w-32 h-32 object-cover"/>
            <div class="mx-8">
                <h1 class="text-3xl font-bold mb-2 max-w-64 whitespace-nowrap">{name}</h1>
                <p class="opacity-80">{description}</p>
            </div>
        </div>
    <p class="my-2 self-start text-md">{text}</p>
    </section>

    <section class="pt-8">
            <h2 class="text-2xl font-semibold mb-8">Technologies</h2>
        <div class="container flex flex-row flex-wrap max-w-md">
            {technologies.map((item) => (
                <div class="p-2 m-2 border-[color:var(--borders-color)] relative border rounded-xl whitespace-nowrap">
                    { item.name }
                    { item.primary && <Image class="star absolute top-[-5px] right-[-5px]" src={star} alt="Star Icon" /> }
                </div>
            ))}
        </div>
    </section>
</BaseLayout>
